<div class="container">
  <div class="jumbotron jumbotron-home">
    <h1>In-N-Out... N-In Again...</h1>
    <hr>
    <h2>"Eat one or all and eat again!"</h2>
  </div>
</div>

<div class="container">
  <div class="row">

    <div class="card">
      <div class="card-body">
        <div id="add-burger">
          <div id="input">
            <h2>Add a Burger:</h2>
            <form class="create-update-form" action="burgers/create" method="POST">

              <div class="form-group">
                <label for="ca">Burger Name:</label>
                <input type="text" id="ca" name="burger_name">
              </div>

              <button class="btn btn-primary" id="add-burger-button" type="submit">Add Burger</button>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>


<div class="container container-burgers">
  <div class="row">
    <div class="card">
      <div class="card-body">
        <div id="not-eaten">
          <h2>Burgers to be Eaten</h2>
          <hr>
          {{#each burgers}} {{#unless this.devoured}}
          
          <li>
            <span>
            {{this.burger_name}}
            </span>

            <div class="row row-burgerBtn">
              <form class="burgerBtnEat col-6" action="burgers/update/{{this.id}}?_method=PUT" method="POST" data-id="{{this.id}}">
                <input type="hidden" name="devoured" value="true">
                <a href="#not-eaten"><button class="btn btn-primary float-right" type="submit">Eat</button></a>
              </form>
              <form class="burgerBtnDelete col-6" action="burgers/delete/{{this.id}}?_method=DELETE" method="POST">
                <button href="#not-eaten" class="btn btn-danger float-left" type="submit">Remove</button>
              </form>
            </div>


          </li>
          {{/unless}} {{/each}}
        </div>
      </div>
    </div>

    <div class="card">
      <div class="card-body">
        <div id="eaten">
          <h2>Devoured Burgers</h2>
          <hr>
          {{#each burgers}} {{#if this.devoured}}
          
          <li>
            <span>
            {{this.burger_name}}
            </span>

            <form class="regurgitate" action="burgers/update/{{this.id}}?_method=PUT" method="POST" data-id="{{this.id}}">
              <input type="hidden" name="devoured" value="false">
              <button class="btn btn-primary" type="submit">Regurgitate?</button>
            </form>
          </li>
          {{/if}} {{/each}}
        </div>
      </div>
    </div>
  </div>
</div>